h1>



<h1>
    @ViewBag.titulo
    <div>
        @ViewBag.autor
    </div>
    <div>
        @ViewBag.contenido
    </div>
    <div>
        @ViewBag.fecha
    </div>
</h1>

<h3>Comentarios</h3>
<ul>
    @foreach (var item in Model)
    {
<li>@item.Detalle</li>
<li>@item.Fecha</li>
    }
    
</ul>


<h3>Añade un comentario</h3>

<form method="post" action="/blog/AddComentario?id=@ViewBag.idBlog"
>

    <textarea rows="10" cols="100" name="Detalle">
    </textarea>

    <button>Enviar</button>
</form>
